.forgot-password-container {
  padding: 0 30px;
  margin-top: 1rem;
}

.forgot-password-container > .card-container {
  max-width: 760px;
}

.forgot-password-container .esu-desc {
  margin-bottom: 40px;
}

.forgot-password-container .esu-field-container {
  border-bottom: none;
}

.forgot-password-container .esu-sbt-container button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .forgot-password-container .esu-field-container .fields-container {
    display: block;
  }

  .forgot-password-container .esu-field-container label {
    margin-bottom: 1rem;
  }

  .forgot-password-container .esu-field-container input {
    width: 100%;
  }

  .forgot-password-container .esu-sbt-container-inner {
    width: 100%;
  }
}
